torch>=2.0.0
torchvision>=0.15.0
transformers>=4.30.0
fastapi>=0.68.0
python-telegram-bot>=13.7
uvicorn>=0.15.0
python-dotenv>=0.19.0
numpy>=1.21.0
psutil>=5.8.0
gputil>=1.4.0
pyttsx3>=2.90
edge-tts>=6.1.0
aiohttp>=3.8.0
pillow>=8.3.1
pydub>=0.25.1
speechrecognition>=3.8.1
httpx>=0.23.0
scipy>=1.7.1
aiofiles>=0.8.0
pyyaml>=5.4.1
websockets
regex
sentence-transformers==2.2.2
bitsandbytes
accelerate
requests
PyJWT[crypto]
optimum
bark-ml==0.0.1
PyQt6
PyQt6-WebEngine
python-multipart
#вот все библиотеки которые требуются (pip install -r requirements.txt), версия python 3.11.2 потом запусти start_chatbot.bat 